.bannerrow {
  width: auto;
  border: solid black 5px;
}

.banner {
  width: 100%;
  height: 150px;
  color: black;
  font-size: 4rem;
}

.banner2 {
  width: 150px;
  height: 150px;
}

.datarow {
  width: 100%;
  height: 100px;
  background: transparent;
}

.datarow h1 {
  background: transparent;
}

.table {}

.graph {
  margin: 0;
}

#chart {
  /*    height: 5px;
  width: 5px;*/
  text-align: center;
  margin: auto 0;
  padding: auto 0;
  margin-right: 100px;
}

canvas {
  text-align: center;
}

.team-name {
  height: 150px;
  width: 100%;
}

.team-name img {
  max-height: 150px;
  max-width: 150px;
  padding: 14px;
  padding-right: 100px;
}

.iconblock {
  font-size: 50px;
  background-color: ghostwhite;
}

.team-name-class {
  margin: 50px;
  margin-bottom: 100px;
}