.bannerrow {
  width: 100%;
  border: solid black 2px;
}

.banner {
  width: 100%;
  height: 150px;
  color: black;
  font-size: 4rem;
}

.banner2 {
  width: 150px;
  height: 150px;
}

.hideMe {
  display: none;
}

.datarow {
  width: 100%;
  height: 100px;
  background: transparent;
  display: inline-block;
}

.datarow h1 {
  background: transparent;
}

.table {}

.graph {
  margin: 0;
}

#chart {
  text-align: center;
}

canvas {
  text-align: center;
}

.team-name {
  height: 150px;
  width: 100%;
  background: lightgrey;
}

.team-name img {
  margin-left: 20px;
  max-height: 150px;
  max-width: 150px;
  display: inline;
}
.team-name h2 {
  display:inline;
}
